@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #202833; /* slate-700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202833; /* slate-600 */
}